@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
  box-sizing: border-box;
  --primary: #16151a;
  --secondary: #25a56a;
}

input[type="text"]{
  background-color: #121212;
}

.progress {
  accent-color: #25a56a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 3px solid var(--primary);
}

@media screen and (min-width: 768px) {
  .gridd {
    display: grid;
    grid-template-columns: 280px 1fr;
  }
}
@media screen and (max-width: 768px) {
  .gridd2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}